html
  +selection
    background: $orange
    color: white

.explorer .esp 
  a
    &:hover
      opacity: .7
.debug
  background: red
  height: 40px
.inactive
  display: none
small
  font-size: .8em
img
  width: 100%
  height: auto

a
  color: $cyan
  text-decoration: none
  +transition(opacity, 0.25s)
  &:hover
    color: $orange
    
h1
  font-size: 2.9em
  letter-spacing: -1px
  font-weight: 500
  margin-bottom: .8em
h2
  font-size: 1.8em
  font-weight: 600
  letter-spacing: -0.1em
  margin-bottom: .8em
h3
  font-size: 1.3em

h1, h2, h3
  line-height: 1.2em

p
  font-weight: 500
  text-align: left
  line-height: 1.4em
  margin-bottom: 1.4em
  &.big_paragraph
    font-size: 1.2em
  
strong
  font-weight: 700

.faded
  color: $fadedgray

body
  background: $gray
  color: #333
  font-family: "Open Sans"
  font-weight: 300
  font-size: 0.9em
  line-height: 1.6em
  input
    font-family: "Open Sans"

.number
  color: $cyan

a.bt, input.bt
  background: $orange
  color: white
  font-size: 1.4em
  font-weight: 600
  padding: 7px 20px
  border-radius: 6px
  white-space: nowrap
  border: none
  cursor: pointer
  +transition(.3s)
  &:hover
    background-color: lighten($orange, 4%)
    box-shadow: 0 1px 4px rgba(black, .2)
  &:active
    background: darken($orange, 4%)
    box-shadow: 0 2px 3px rgba(black, .2) inset
    text-shadow: 0 1px 1px rgba(black, .2)
  @media handheld, only screen and (max-width: 767px)
    font-size: 1em

input.bt
  font-weight: 500
  font-size: 1.2em

a.bt.bt_secondary, input.bt.bt_secondary
  background: $cyan
  &:hover
    +vertical-gradient(lighten($cyan, 4%), darken($cyan, 4%))
  &:active
    background: $cyan

.narrow_container
  max-width: 860px

.medium_container
  max-width: 1080px

.narrow_container, .medium_container
  width: 90%
  margin: 0 auto
  text-align: center
  padding: 3em 0
  @media screen and (max-width: 767px)
    width: 97%

.white_box, .transparent_box
  padding: 1.2em

.white_box
  border-radius: 4px
  box-shadow: 0 1px 2px #bebebe
  background: white

.orange_box
  background: $orange
  color: white !important
  a
    color: inherit
    text-decoration: underline !important

.white_header_section
  background: white
  overflow: hidden
  padding: 1.6em 0

.well
  padding: 1.2em
  background: $gray
  border: 1px solid darken($gray, 10%)
  border-radius: 6px

.flash
  +experimental(animation, alert-in .3s linear)
  display: block
  background: rgb(247, 192, 109)
  border: 1px solid white
  border-radius: 4px
  box-shadow: 0 2px 3px rgba(black,.2)
  color: #555
  font-weight: bold
  padding: 10px 25px
  position: absolute
  text-shadow: 0 1px 1px white
  z-index: 100
  top: 5px
  left: 7px
  &.success
    background-color: rgb(186, 226, 149)
  &.error
    background-color: rgb(236, 145, 145)

+keyframes(alert-in)
  0%
    +opacity(0)
    margin-top: -40px
  100%
    +opacity(1)
    margin-top: 0

.page
  .sub_menu
    font-size: 1.6em
    display: block
    li
      margin-right: 1em
      display: inline
    a
      color: $creamgray
      font-weight: 600
      &:hover, &.active
        color: $cyan
    @media screen and (max-width: 700px)
      font-size: 1.3em
      li
        margin-right: .5em
