.header_menu
  background: white
  padding: 0 1em
  position: relative
  z-index: 20
  a
    color: $cyan
    font-weight: 600
    &:hover
      color: $orange

#logo
  background: image-url("site/bg_header_h2.png") no-repeat 0 80%
  text-indent: 38px
  font-weight: normal
  letter-spacing: -1px
  font-size: 1.8em
  text-align: left
  margin-bottom: 0
  float: left
  padding: .5em 2em 0 0
  a
    color: #333
    &:hover
      color: $orange

.main_nav
  float: left
  padding-top: 1em
  @media screen and (max-width: 1030px)
    clear: left
  a
    line-height: 2.1em
    margin-right: 20px
    white-space: nowrap
    color: #333
    &:hover
      color: $orange
      text-shadow: none

.main_actions_nav
  padding-top: .7em
  padding-bottom: .4em
  margin-right: .7em
  a
    margin-right: 1em

.search_account
  float: right
  padding: .5em 0
  section
    float: left

.account_nav
  margin-top: .5em
  .login-bt
    display: block
    padding-top: .2em

.search_area
  padding-right: 1.5em

.search_form
  padding: 0
  min-width: 17em
  margin-top: .5em
  margin-bottom: .5em
  input[type=text]
    border-radius: 10px
    background: $gray image-url("site/bg_search_input.png") no-repeat 8px 6px
    border: none 
    margin-top: 0
    margin-bottom: 0
    text-indent: 25px
    padding: 6px 3px
    color: #666
    font-size: .75em
    outline: none
    width: 100%

.user_section
  color: #333
  font-weight: 500
  line-height: 2.1em
  +transition(.2s)
  &:hover
    cursor: pointer
    .options
      display: block
  .options
    font-size: .9em
    display: none
    position: absolute
    padding: .2em 1em
    width: auto
    background: white
    box-shadow: 0 1px 2px #999
    border-radius: 4px
    margin-left: -6px
    a
      color: black
      &:hover
        background: $cyan
        color: white
        padding: .1em 1em
        text-shadow: none

  span.arrow
    display: block
    margin-left: 15px
    float: right

@media screen and (max-width: 870px)
  #logo, .main_nav, .search_account section
    float: none
    width: 100%
  .search_account
    float: none