#header
  +vertical-gradient(lighten(black, 25%), black)
  padding-bottom: 6px
  box-shadow: 0 2px 3px rgba(black,.4)
  h1#logo
    background: image-url("site/bg_header_h2.png") no-repeat 0 45%
    text-indent: 38px
    font-weight: normal
    letter-spacing: -1px
    font-size: 1.8em
    text-align: left
    margin-bottom: 0
    a:hover
      color: white
      text-shadow: 0 0 5px $cyan 

.header
  a
    color: white 
    &:hover
      color: $orange
      text-shadow: none
  *
    line-height: 2.1em

  .child
    a
      margin-right: 20px
      font-weight: 600
      white-space: nowrap
    margin-top: 15px
  #search
    padding: 0
    input[type=text]
      border-radius: 10px
      background: white image-url("site/bg_search_input.gif") no-repeat 8px 6px
      border: none 
      margin-top: 0
      text-indent: 25px
      padding: 3px
      color: #666
      font-size: .75em
      outline: none
      width: 90%
      float: right
      @media screen and (max-width: 767px)
        width: 100%
        float: none