a.fb_login
  margin: 1em 0 2em
  display: block
  &:hover
    +opacity(.85)
  img
    width: auto

#Sessions, #Passwords
  h2
    color: $cyan
  h4
    font-weight: 600
    font-size: 1.4em

    small
      display: block
      font-weight: 400
      font-size: .8em
      line-height: 1.8em
      letter-spacing: -1px

  .well
    .label_link
      position: relative
      top: -1em

  .facebook_login
    padding: 2em
    p
      font-size: .85em
      line-height: 1.4em
      font-weight: 400
    .important
      text-decoration: underline
      color: $red

  .email_login
    padding: 1em