form.custom
  .custom.dropdown.select
    background: white
    box-shadow: 0 1px 2px #bebebe
    border: none
    border-radius: 4px
    cursor: pointer
    .selector, &:hover .selector, &.open .selector
      border-left: 2px solid $gray
      background: image-url("site/dropdown-arrow.png") no-repeat center
      &:after
        display: none !important

.material_form
  padding: 2em 0
  input[type=text], input[type=email], input[type=number], input[type=password], textarea
    width: 100%

  textarea
    height: 12em

  .bt.bt_secondary
    margin: 0 auto
    display: block

  hr
    color: transparent
    border-top: 1px solid lighten($mediumgray, 15%)
    margin: 2em auto 3em

  label
    cursor: pointer
    color: $mild-dark
    font-weight: 600
    &.required
      color: inherit

  .hint
    color: $mild-dark
    font-style: italic
    font-size: .9em
    padding-left: 2em
    p:first-child:before
      content: "?"
      position: absolute
      top: 4px
      left: 3px
      width: 14px
      height: 14px
      background: $cyan
      color: white
      font:
        style: normal
        size: 11px
        weight: bold
      text-align: center
      line-height: 14px
      border-radius: 50%

  .checkbox
    display: block
  span.checkbox
    label
      display: inline
      padding-left: 1.5em
      margin-left: -1em
      z-index: 3
      position: relative

  .form-hint
    top: -12px
    position: relative
    font-style: italic

  .narrow_container .big_paragraph
    text-align: center

  .image-input-description .big_paragraph
    margin-top: 42px

.checkbox_section
  font-weight: 600
  h5
    margin-bottom: 1em
  h4
    color: $cyan
    display: block
    width: 100%
  h4.white_box
    padding: 5px 1.2em
    margin-bottom: 1px

.material_breadcrumb
  $size: 100px
  padding: 2em 0
  overflow: hidden
  .list_wrapper
    +decorative-content
      width: $size / 2
      height: 1000px
      background: white
      right: 0
      margin-right: 1%
      top: 0
      z-index: 0
  .breadcrumb_list
    $shadow: 0 0 0 3px white, 2px 2px 1px 2px rgba(black,.2)
    margin: 0 auto
    width: 95%
    padding-right: $size / 4
    background: $gray
    box-shadow: $shadow
    overflow: hidden
    li
      width: 25%
      height: $size / 2
      float: left
      margin: 0
      text-indent: $size / 2
      +decorative-content
        width: $size
        height: $size
        background: $gray
        box-shadow: $shadow
        +transform(rotate(45deg))
        right: 0
        top: - $size / 4
        z-index: 2
      +decorative-content(before, false)
        position: absolute
        width: $size
        height: $size
        background: $gray
        z-index: 4
        right: $size / 2
      span
        display: block
        position: relative
        z-index: 10
        font-weight: 600
        color: $mild-dark
        margin-top: 14px
        white-space: nowrap

      &.current
        background: $cyan
        &:after, &:before
          background-color: $cyan
        span
          color: white

  @media screen and (max-width: 779px)
    .list_wrapper:after
      display: none
    .breadcrumb_list
      padding-right: 0
      li
        text-indent: 10px
        overflow: hidden
        float: none
        width: auto
        &:after, &:before
          display: none
        &.current:after
          display: block
          right: - $size
          background: $gray

.subcategorie_container
  margin-bottom: 1em

.white_box.box_title
  padding: 5px 1.2em
  cursor: pointer
  +decorative-content
    width: 2px
    top: 0
    bottom: 0
    right: 30px
    background: $gray
  .white_box_expander
    position: absolute
    right: 0
    top: 0
    bottom: 0
    width: 30px
    background: image-url("site/dropdown-arrow.png") no-repeat center
    +hide-text
    +context(".expanded")
      +transform(rotate(-180deg))

.checkbox_group
  position: relative
  z-index: 2
  overflow: hidden
  max-height: 0
  padding: 0 1.2em
  +transition(.3s)
  +context(".expanded")
    max-height: 90em
    padding: 1.2em
    border-top: 1px solid $gray
  h5
    margin-top: 1em

.image-fields
  margin-bottom: 2em

.img-upload, .attachment-upload
  input[type=file]
    +opacity(0)
    height: 70px
    width: 310px
    cursor: pointer
  cursor: pointer
  margin-bottom: 2em
  width: 310px
.img-upload
  background: image-url("site/img-upload-bt.png") no-repeat bottom left
.attachment-upload
  background: image-url("site/attachment-upload-bt.png") no-repeat 0 25px

.uploaded-attachment
  background: darken($gray, 4%)
  display: block
  margin-bottom: 1em
  padding: 1em
  border-radius: 10px
  position: relative
  .uploaded-file-name
    font-size: 1.3em
    font-weight: 600
    display: block
    padding: 0 0 1em 1.5em
    background: image-url("site/clip-icon.png") no-repeat left top
  .delete-link
    position: absolute
    top: 1em
    right: 1em
    +image-replace("site/trash-gray-icon.png")

.img-thumbnail
  position: relative
  .uploaded-image
    border-radius: 10px
  .delete-link, .favorite-link
    position: absolute
    top: 8px
    +opacity(0)
    +transition(.3s)
    &:hover
      +opacity(1)
  .delete-link
    +image-replace("site/trash-icon.png")
    right: 13px
  .favorite-link
    +image-replace("site/star-icon.png")
    left: 13px
  &:hover
    .delete-link, .favorite-link
      +opacity(.5)
      &:hover
        +opacity(1)

#postal_address
  padding: 4em 0

#loading
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: rgba(255,255,255,.8) image-url("site/loading.gif") no-repeat center
  z-index: 1000
  display: none
  &.active
    display: block

.manufacturer_thumb
  width: 80px
  +context(".big_paragraph")
    float: left
    margin: 0 10px 10px 0

.contact_container
  padding: 2em 0 2em
  margin-bottom: 2em
  overflow: hidden
  border-radius: 6px
  &:nth-child(odd)
    background: lighten($gray, 3%)
  .remove_fields
    margin-top: 1.2em
    float: left
  .contact_title
    margin-bottom: 1em