body
  font-size: 14px
  line-height: 22px
  font-family: "Helvetica"

header, section, article, footer
  display: block

h1, h2, h3, h4, h5, h6
  margin: 5px 0
  font-weight: 600
  line-height: 28px
  text-shadow: 0 1px 1px #333

h1
  font-size: 26px
h2
  font-size: 18px
h3
  font-size: 16px

a
  &:active, &:visited
    color: #009FAE
    text-decoration: none
    transition: opacity 0.35s ease-in-out, color 0.25s ease-in-out
    -moz-transition: opacity 0.35s ease-in-out, color 0.25s ease-in-out
    -o-transition: opacity 0.35s ease-in-out, color 0.25s ease-in-out
    -webkit-transition: opacity 0.35s ease-in-out, color 0.25s ease-in-out
  &:hover
    color: #EA6740

