$ninesixty-columns: 12

body
  background: url(asset_path('bg_body.png', 'image')) repeat-x

#wrapper
  +grid-container

// Pages
#pages
  .head, .content
    +grid(12)

  header.head
    height: 85px
    text-align: center
    h2
      margin-top: 14px
  section.presentation
    background: #249EB1
    color: #fff
    height: 360px
    header
      +grid(4)
      +alpha
      h1
        padding-top: 30px
      h1, p.about
        padding-left: 20px
      p.about
        margin-top: 20px
        color: #fffff9
        text-shadow: 0 1px 1px #999
    article
      background: #fff
      +grid(8)
      +omega

  section.details
    margin-top: 50px
    .articles
      +grid(4)
      +alpha
      h2
        margin: 20px 0
        border-bottom: 1px solid #dedede
      article
        margin-bottom: 30px
        font-size: 0.9em
        p
          color: #333
    .images
      +grid(8)
      +omega
      .image
        margin: 20px 0
        img
          &:hover
            +box-shadow(0 1px 8px #009FAE)

  section.network
    margin: 20px 0
    header
      height: 40px
      padding: 20px 10px
      background: #EA6740 url(asset_path('bg_network.gif', 'image')) no-repeat 20px center
      color: #fff
      text-indent: 160px
      margin: 20px 0
      clear: both
    section
      +grid(12)
      margin: 20px 0
      overflow: hidden
      .net
        +grid(4)
        +alpha
        height: 230px
        padding-top: 50px
        background: url(asset_path('network_bg_itens.gif', 'image')) no-repeat

      .twitter
        background-position: -310px 0
        border-left: 1px solid #e2e3e7
        border-right: 1px solid #e2e3e7

      .newsletter
        background-position: -650px 0



  footer.foot
    background: #F0F1F4
    border-top: 1px solid #E2E3E7
    clear: both
    section
      +grid-container
//Materials
