@import compass/reset
@import compass/utilities
@import compass/css3

@import cssgrid
@import chosen
@import "http://fonts.googleapis.com/css?family=Open+Sans:300,600,400)"

$cyan: #239EB1
$orange: #ea6740
$red: #CB323E
$yellow: #EACC4F

.debug
  border: 1px solid red
img
  width: 100%
  height: auto

a
  color: $cyan
  text-decoration: none
  transition: opacity 0.35s ease-in-out, color 0.25s ease-in-out 
  -moz-transition: opacity 0.35s ease-in-out, color 0.25s ease-in-out
  -o-transition: opacity 0.35s ease-in-out, color 0.25s ease-in-out
  -webkit-transition: opacity 0.35s ease-in-out, color 0.25s ease-in-out
  &:hover
    color: $orange
    text-shadow: 0px 0px 2px $orange 
    
h1
  font-size: 2.4em
  line-height: 1.8em
  letter-spacing: -1px
h2
  font-size: 1.8em
  font-weight: 600
  letter-spacing: -0.1em
h3
  font-size: 1.4em

body
  background: #f4f4f4 image-url("site/bg_body.png") repeat-x
  font-family: "Open Sans"
  font-weight: 300
  font-size: 0.9em
.number
  color: $cyan
.header
  a
    color: white 
    &:hover
      color: $cyan
  margin-bottom: 2.5%
  *
    line-height: 2.1em
  h2
    background: image-url("site/bg_header_h2.png") no-repeat 0 45%
    text-indent: 38px

  .child
    a
      margin-right: 20px
      font-weight: 300
    margin-top: 15px
  .search
    input
      +border-radius(14px)
      +box-shadow(inset 0 1px 2px #666)
      background: white image-url("site/bg_search_input.gif") no-repeat 8px 6px
      border: none 
      text-indent: 25px
      color: #666
      font-size: .8em
      outline: none
      width: 100%

.breadcrumb

.presentation
  height: 400px
  .join, .video
    height: 100%
  .join
    background: $cyan
    color: white
    padding-right: 1.8%
    margin-right: 0

// Listing materials
ol.materials
  padding: 5px
  a:hover
    opacity: .9
  margin-bottom: 10px
  li
    margin-bottom: 8px
    &:last-child
      margin-right: 0px !important
    &:hover
      +box-shadow(0 1px 8px lighten($red, 30%))
  .material
    +border-radius(8px)
  .image
    img
      +border-radius(4px 4px 0 0)
  .name
    background: white 
    width: 100%
    padding: 10px 0
    text-indent: 8px
    +box-shadow(0 1px 1px #bebebe)
    +border-radius(0 0 4px 4px)
    a
      color: black
      font-size: .9em
      padding-left: 4px


// The Explore Page
section.explore
  margin-top: 10px
  margin-bottom: 20px
  background: white
  +border-radius(4px)
  +box-shadow(0 1px 2px #bebebe)
  ol.category, span.materials_count
    width: 96% !important
    margin-left: 17px
    padding: 5px
  span.materials_count
    font-size: .8em
    padding: 10px 5px
    color: $cyan

  ol.category
    border-bottom: 1px solid #dedede
    li
      margin: 5px 0
      display: inline-block
      padding: 6px  
      margin-right: 6px
      &.parents, &.children
      &.parents
        font-size: 1.3em
        font-weight: 300
      &.children
        font-size: .9em
      a
        color: #333
      &.active, a:hover
        color: $orange
        text-shadow: none
      &.active
        border-bottom: 2px solid $orange
        a
          color: $orange
          padding: 2px
  ol.last
    border: none

// Seeing a material
section.material
  .name 
    width: 97.2%
    margin: 1px 1px 15px 1px
    padding: 15px
    h1
      font-size: 1.8em
      color: #333
  .name, .resume, .indicators, .image, .manufacturer, .about 
    background: white
    +border-radius(4px)
    +box-shadow(0 1px 2px #bebebe)
  .resume, .indicators, .manufacturer
    width: 89%
    margin: 0 auto
    padding: 19px
    line-height: 1.6em
    font-weight: 400
    font-size: 1em
    color: #333
    margin-bottom: 20px
  .image, .about
    z-index: 2
    position: relative
  .about
    z-index: 1
    .options
      width: 90%
      padding: 20px
      font-weight: 400
      li
        display: inline-block
        padding: 8px 15px
        a
          color: #333
        &:hover, &.active
          background: $cyan
          +border-radius(6px)
          a
            color: white

      
  .indicators, .manufacturer
    h3
      margin-bottom: 20px
  .manufacturer
    td 
      padding: 2px 8px 2px 0px
      width: 80%
    td.title
      color: gray
      width: 20%
      padding-right: 15px
    h3
      color: $cyan
    select
      width: 100%
    .chzn-container
      margin-top: 5px
      padding: 5px 0
  .indicators
    background: $cyan
    color: white
    .indicator
      width: 15%
      height: 35%
      text-indent: -9999px
      background: image-url("site/bg_indicators_sprite.png") no-repeat -9px -5px
      display: inline-block
      padding: 14px 0px
      margin: 2px 0 
    .cycle
      &:hover
        background-position: -9px -65px
    .safety
      background-position: -66px -5px
      &:hover
        background-position: -66px -65px
    .energy
      background-position: -180px -5px
      &:hover
        background-position: -180px -65px
    .water
      background-position: -240px -5px
      &:hover
        background-position: -240px -65px
    .management
      background-position: -300px -2px
      &:hover
        background-position: -300px -62px
    .human
      background-position: -122px -5px
      &:hover
        background-position: -122px -65px

