li.material.fourcol
  - if material.has_images?
    .image= link_to image_tag(material.featured_image.image.main.url, title: material.name, alt: material.name), material_path(material)
  .name= link_to material.name, material_path(material)